<div class="w-full h-full py-[40px] px-[80px]">
  <graduation-track-info [gradTrack]="gradTrack"> </graduation-track-info>

  <nz-tabset class="mt-5">
    <nz-tab nzTitle="Badges">
      <form
        nz-form
        [nzLayout]="'inline'"
        [formGroup]="validateForm"
        class="w-full mt-[40px] mb-5"
      >
        <!-- (ngSubmit)="submitForm()" -->
        <nz-form-item class="w-full border-[#EAEDF2] rounded-lg">
          <nz-form-control>
            <nz-input-group nzPrefixIcon="search">
              <input
                formControlName="search"
                nz-input
                placeholder="Search Badges"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </form>

      <app-badges-table
        [dataSet]="dataSet"
        [headers]="headers"
      ></app-badges-table>
    </nz-tab>
    <nz-tab nzTitle="Students">Content of Students</nz-tab>
  </nz-tabset>
</div>
